

.admin-sidebar {
  width: 240px;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.admin-sidebar .logo{
  width: fit-content;
  font-size: 22px;
  text-align: center;
}

.admin-sidebar nav{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.admin-sidebar nav .link{
  color: white;
  border: 1px solid gray;
  padding: 8px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

/* 
Mobile TOPBAR 
*/

.admin-topbar {
  height: 55px;
  background: #0f172a;
  color: white;

  display: none;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
}

.menu-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

/* sidebar active link */
.link {
  color: #cbd5f5;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: block;
  transition: 0.2s ease;
}
.link.active-home{
  background-color: orange;
  color: white;
}
.link:hover {
  background: #1e293b;
}

.link.active {
  background: #2563eb;
  color: white;
  font-weight: 500;
}

/* admin info */
.admin-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-info span{
  display: inline-block;
}

/* logout button on sidebar */
.admin-sidebar .logout-btn{
  background-color: blue;
  color: white;
  padding: 8px 10px;
  border: transparent;
  cursor: pointer;
}

/* 
 CONTENT
*/

.admin-content {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

/* 
MEDIA QUERY
*/

@media (max-width: 360px) {

  /* hide sidebar by default */
  .admin-sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    z-index: 1000;
  }
  .admin-sidebar nav .link{
    padding: 8px 5px;
    font-size: 12px;
  }

  .admin-sidebar.open {
    left: 0;
  }

  /* show topbar */
  .admin-topbar {
    display: flex;
  }

  /* overlay */
  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    z-index: 900;
  }
}


