.admin-sidebar {
  width: 240px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-sidebar .logo {
  font-size: 22px;
  margin-bottom: 30px;
}

.admin-sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-sidebar a {
  color: #cbd5f5;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
}

.admin-sidebar a.active {
  background: #1e293b;
  color: white;
}

.admin-logout button{
  padding: 10px 20px;
  width: 100%;
  background-color: blue;
  color: white;
  border: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.admin-logout button:hover{
 transform: scale(0.9);
}